html, body, #app {
    width: 100%;
    height: 100%;
}


body {
    background:$background-color;
    font-family: 'Montserrat', sans-serif;
}

.app-view {
    height: 100%;
}

.container {
    height: 100%;
    padding-top: 2.5em;
}

.headline-wrapper {
    h1 {
        color: $white;
        font-size: clamp(1.8em, 2.5vw, 2.8em);
        font-weight: 600;
        margin-bottom: 0;
    }
}

.background {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width:100%;
    
    .bg-number-wrapper {
        position: absolute;
        bottom: 3em;
        left: -13em;
        min-width: 60em;
        z-index: -1;
        display: none;
    }

    .bg-waves-wrapper {
        position: absolute;
        width: 100%;
        top: -13em;
        right: -5em;
    }

    .bg-dots-wrapper {
        position: absolute;
        bottom: -3em;
        left: 24em;
    }
}

.btn-secondary, .btn-primary {
    border-radius:1.5rem;
    border: none;
    padding:0.5rem 1.5rem;
    font-size:0.8rem;
}

.btn-secondary {
    background:$btn-secondary;
    color: #fff;
    &:hover {
        background:lighten($btn-secondary, 20%);
    }
}

.btn {
    svg {
        width: 1.125rem;
        height: 1.125rem;
    }
}


.information-panel {
    background: #fff;
    border-radius: 1.0625rem;
    padding: 1.25rem 0rem;
    margin-top: 1.25rem;

}

@include media-breakpoint-up(md) {
    .background {
        .bg-waves-wrapper {
            width: 820px;
        }
    }

    .information-panel {
        background: #fff;
        border-radius: 1.0625rem;
        padding: 1.875rem 3.125rem;
        margin-top: 1.25rem;
    }
}

@include media-breakpoint-up(xl) {
    .background {
        .bg-number-wrapper {
            display: block;
        }
    }
}

