.sidebar-component {
    .btn {
        margin-bottom:3em;
        padding: 0;

        svg {
            stroke: $white;
            width: 1em;
            height: 1em;
            font-size: 2.5em;
        }
    }

    .nav-item  a{
        color: #A0A4AA;
        font-size: 0.9em;
        margin-bottom: 0.7em;
        transition: all ease-in .3s;
        padding: 0.7em 1em;
        display: block;
        svg {
            margin-right: 0.7em;
        }

        &.router-link-active {
            background: $nav-active;
            border-radius: 1em;
        }

        &:hover {
            background: $nav-active;
            border-radius: 1em;
            text-decoration:none;
            transition: ease-out .3s;
        }
    }
}

@include media-breakpoint-up(md) { 
    .sidebar-component {
        .btn {
            margin-left: -0.1875rem;
        }
    }
}