{% extends 'base.html.twig' %}

{% block title %}Lost Task Manager - Notes {% endblock %}

{% block body %}
{{ parent() }}
   <div class="container">
       <div class="row">
            
       </div>
   </div>
{% endblock %}