.dashboard-welcome--text {
    color: $text-color-light-blue;
    font-size: 1rem;
    margin-top: .5rem;
    margin: 0 auto;
}

.dashboard-welcome-wrapper {
    .btn {
        color: $white;
        font-size: 1.125rem;
        padding: .625rem 1.5625rem;
        margin: .625rem .625rem;
        transition: all ease-in .3s;

        &:hover {
            transition: all ease-out .3s;
        }

        a {
            color: $white;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.dashboard-project--listing { 
    margin-top: 4.375rem;

    .projects-row {
        margin-top: 1.875rem;
    }
}


.dashboard-chat-btn {
    background: rgb(127,0,255);
    background: linear-gradient(90deg, rgba(127,0,255,1) 0%, rgba(225,0,255,1) 100%);
    border: transparent;

    &:hover {
        background: linear-gradient(0deg, rgba(127,0,255,1) 0%, rgba(225,0,255,1) 100%);
    }
}

.dashboard-project--detail {
    .project-task-wrapper {
        .custom-control-label {
            span {
                font-size: .0.9rem;
                line-height: 1.25rem;
            }

            &:before {
                top: .125rem;
            }
        }

        .select-tag--box {
            padding: 0 .3125rem;
            select {
                height: 2.1875rem;
            }
            
            .selected-tag {
                line-height: 2.1875rem;
                font-size: .75rem;
            }
        }
    }
}

@include media-breakpoint-up(lg) { 
    
    .dashboard-project--detail {
        .project-task-wrapper {
            .list-group-item {
                padding: .3125rem 0;
            }
        }
    }
    .dashboard-project--listing {
        margin-top: 45%;
    
        .projects-row {
            padding-top: .9375rem;
            margin-left: -0.125rem;
        }
    }
}

@include media-breakpoint-up(xl) { 
    .dashboard-project--detail {
        margin-top: -5.3125rem;
    }
}