<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{% block title %} Lost Task Manager{% endblock %}</title>
   {% block stylesheets %}

       <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">

   {% endblock %}

</head>
    <body>
        {% block body %}
            <div id='app'></div>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </body>
</html>